---
import { Markdown } from 'astro-remote';

import Container from '@/layouts/Container.astro';
import OptimizedImage from './OptimizedImage.astro';
const { content, image, title } = Astro.props;
const { url, alternativeText } = image;
---

<Container>
  <div class='mx-auto sm:py-16 lg:pb-32'>
    <div
      class='mx-auto lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-10 lg:gap-y-6 lg:space-x-16 xl:space-x-16'
    >
      <OptimizedImage
        src={url}
        alt={alternativeText || title}
        loading='lazy'
        class='lg:col-span-4 mt-10 mx-auto 2xl:h-auto 2xl:w-full lg:h-96 lg:mx-0 w-full lg:w-auto rounded object-cover sm:mt-16 lg:mt-20 lg:max-w-none 2xl:mt-36'
      />
      <div class='mt-6 max-w-screen-xl lg:col-span-6 lg:mt-0'>
        <article
          class='max-w-screen-xl transition-all duration-300 prose-a:text-accent hover:prose-a:text-accent/80 lg:prose-h1:text-6xl prose prose-headings:font-heading leading-8 text-secondary prose-headings:uppercase'
        >
          <Markdown content={content} />
        </article>
      </div>
    </div>
  </div>
</Container>
