---
import { formatBlogPosts } from '@/utils/formatBlogPosts';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Blogcard from './blogcard.astro';
import Sectionhead from './sectionhead.astro';

const { block } = Astro.props;
const { title, subtitle, limit } = block;

const recentPosts = await getCollection('articles');
const formattedPosts: CollectionEntry<'articles'>[] = formatBlogPosts(
  recentPosts,
  {
    sortByDate: true,
    limit: limit,
  }
);
---

<div class='pb-8 sm:pb-16 lg:pb-32'>
  <Sectionhead level='h2'>
    <Fragment slot='title'>{title}</Fragment>
    <Fragment slot='subtitle'>{subtitle}</Fragment>
  </Sectionhead>

  <ul
    class='max-w-screen-sm px-8 mx-auto md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl grid mt-8 lg:mt-16 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'
  >
    {formattedPosts.map((post, index) => <Blogcard post={post.data} {index} />)}
  </ul>
</div>
