---
import Container from '@/layouts/Container.astro';
import Sectionhead from './sectionhead.astro';
import Pricing from './Pricing.astro';

const { block } = Astro.props;
const { title, subtitle, description, pricing_tiers } = block;
---

<Container class='my-16 md:my-24 lg:my-32'>
  <div class='max-w-screen-sm mx-auto'>
    <Sectionhead level='h2'>
      <Fragment slot='subtitle'>{subtitle}</Fragment>
      <Fragment slot='title'>{title}</Fragment>
    </Sectionhead>
  </div>
  <p
    class='max-w-screen-md text-secondary mt-4 mx-auto text-justify sm:text-center'
  >
    {description}
  </p>
  <div>
    <Pricing tiers={pricing_tiers} />
  </div>
</Container>
